Bomberman project/sound/

Bomberman project/bin/
Bomberman\ project/images/

/build/
/bin/
/config/html/
/config/latex/

#Gradle stuff
.gradle

# Eclipse preferences / project
.settings/
.project
.classpath
.metadata/

# Mac OSX
.DS_Store
.Trashes

# Windows
Thumbs.ini
Desktop.ini

#Para evitar mudancas de ida e volta de I.C no readme
README.adoc
